.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 40px;
  gap: 10px;
}

.title {
  text-align: center;
  font-size: 34px;
  font-weight: 600;
  color: #000;
  margin-bottom: 20px;
  font-family: "Star Wars", sans-serif;
}
